@takamol:registry=https://gitlab.qiwa.tech/api/v4/packages/npm/
//gitlab.qiwa.tech/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.qiwa.tech/api/v4/projects/:_authToken=${CI_JOB_TOKEN}
engine-strict = true
save-prefix=""
