#root > div > main > div.MuiGrid-root.MuiGrid-container > div > div > div {
  width: 100% !important;
}
.MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation4 {
  width: 100%;
}

#root
  > div
  > div
  > main
  > div.MuiGrid-root.MuiGrid-container
  > div
  > div
  > div {
  width: 100% !important;
}
