#root > div > main > div.MuiGrid-root.MuiGrid-container > div > div > div {
  width: 100% !important;
}
.MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation4 {
  width: 100%;
}

#root
  > div
  > div
  > main
  > div.MuiGrid-root.MuiGrid-container
  > div
  > div
  > div {
  width: 100% !important;
}
body
  > div.MuiPopover-root.MuiModal-root.css-1i0e6f3-MuiModal-root-MuiPopover-root
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation2.MuiPopover-paper.css-ubpweo-MuiPaper-root-MuiPopover-paper {
  padding: 20px;
}
#root
  > div
  > main
  > div
  > div
  > div
  > div
  > div.tss-1cdcmys-MUIDataTable-responsiveBase
  > table
  > caption {
  display: none;
}
#root
  > div
  > main
  > div.MuiGrid-root.MuiGrid-container.muirtl-11lq3yg-MuiGrid-root
  > div
  > div
  > div
  > div.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.tss-tlx3x1-MUIDataTableToolbar-root.muirtl-hyum1k-MuiToolbar-root
  > div.tss-qbo1l6-MUIDataTableToolbar-actions {
  display: flex;
  justify-content: flex-end;
}
