#root > div > main > div.MuiGrid-root.MuiGrid-container > div > div > div {
  width: 100% !important;
}
.MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation4 {
  width: 100%;
}

#root
  > div
  > div
  > main
  > div.MuiGrid-root.MuiGrid-container
  > div
  > div
  > div {
  width: 100% !important;
}
body
  > div.MuiPopover-root.MuiModal-root.css-1i0e6f3-MuiModal-root-MuiPopover-root
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation2.MuiPopover-paper.css-ubpweo-MuiPaper-root-MuiPopover-paper {
  padding: 20px;
}
#root
  > div
  > main
  > div
  > div
  > div
  > div
  > div.tss-1cdcmys-MUIDataTable-responsiveBase
  > table
  > caption {
  display: none;
}
